body {
    font-family: 'Raleway', 'sans-serif';
    background-color: #fff;
  }

  header
  {
    margin-top: 2em;
    height: 10em;
  }

  .mid_row
  {
    width: 100%;
  
  }

  .sub-footer
  {
    display: inline-block;
    height: 5em;
    background-color: #3F3F3F;
    position:absolute;
    bottom:0;
    width: 100%;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  p {
    font-size: 13px;
    color: #7a7a7a;
    line-height: 24px;
    left: 0.25px;
  }
  
 

  
  
  .menu-button a {
    display: inline-block;
    background-color: #FFFFFF;
    color: #fff;
    width: 188px;
    font-size: 15px;
    border-radius:45px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border: 1px solid #E2E2E2;
  }
  
  .menu li {
    float: left;
    margin-left: 30px;
  
    line-height: 100px;
  }
  
  #primary-nav li a {
    color: #121212;
    font-weight: bold;
    line-height: 100px;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s;
    text-align: center;
  }
  
  #primary-nav li > a:hover,
  #primary-nav li.selected > a {
    color: #FFFFFF;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    text-decoration: none;
  
  }
  
  

#form
{
  border-radius:45px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border: 1px solid #E2E2E2;
  
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  margin-top: auto;
  height: 27em;
}

#form-label
{
  width: 30em;
  text-align: center;
}

#form-text
{
  margin-top: 3em;
}

#form-field
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 4em;
  width: 13em;
}



#form-button button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    margin-left: 8.5em;
    margin-right: 8.5em;
    width: 15em;
    height: 2em;
    font-size: 15px;
    border-radius:45px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    margin-top: 2em;
  }

  #form-button li
  {
    display: inline-block;
    color: #FFFFFF;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    margin-left: 8.5em;
    margin-right: 8.5em;
    width: 15em;
    height: 2em;
    font-size: 15px;
    border-radius:45px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    margin-top: 2em;
    text-align: center;
    }

    #form-button li a {
      text-decoration: none;
      color: #FFFFFF;
  }

  #form-field input
  {
    
    border-radius:45px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #E2E2E2;
    background-color: #FFFFFF;
    outline: none;
  }

  .content
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    margin-bottom: auto;
    text-align: center;
  }